body {
    font-family: 'Roboto', sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.first, .second, .third, .fourth {
    border: 2px solid black;
}

/* This is the first box */
.first {
    padding: 8px;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}

.first-head, .first-tail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo, .description {
    font-size: 24px;
    font-weight: bold;
    margin-left: 80px;
}

.links, .main-image {
    font-size: 18px;
    margin-right: 80px;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

/* This is the second box */
.second {
    padding: 8px;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}

.second-head, .second-tail, .subtext {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.img-holder {
    display: flex;
    flex-direction: column;
}

.image {
    width: 100px;
    height: 100px;
    border: 2px solid red;
    border-radius: 10px;
}

.sub {
    padding: 5px;
    width: 100px;
    height: 100px;
}

/* This is the third box */
.third {
    padding: 8px;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    align-items: center;
}

#quote {
    padding-top: 20px;
    padding-bottom: 5px;
    width: 500px;
    height: auto;
    font-size: 22px;
    text-align: center;
    flex: 1 1 auto;
}

#writer {
    padding: 10px;
    width: 500px;
    height: auto;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

/* This is the fourth box */
.fourth {
    padding: 8px;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}




