body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

/* This is the first box */
.first {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #f9faf8;
    align-items: center;
    box-sizing: border-box;
}

.first-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; 
    gap: 25px;
    max-width: 1080px;
    width: 100%;
    box-sizing: border-box;
}

.first-tail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    margin-top: 80px;
    margin-bottom: 80px;
    gap: 80px;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
}

.logo {
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
}

.links {
    font-size: 18px;
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
    padding-top: 10px;
    min-width: 250px;
    box-sizing: border-box;
}

.description {    
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    height: auto;
    justify-content: center;
    flex: 1;
    align-items: center;
    box-sizing: border-box;
}

#welcome {
    font-size: 2rem;
    font-weight: bolder;
    padding: 25px ;
    width: 100%; 
    box-sizing: border-box;
    text-align: center;
}

#msg {
    font-size: 1rem;
    font-weight: lighter;
    padding: 25px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    height: auto;
}

.main-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    color: #1f2937;
    flex: 1;
    box-sizing: border-box;
}

/* This is the second box */
.second {
    display: flex;
    flex-direction: column;
    background-color: #f9faf8;
    width: 100%;
}

.second-head {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.second-tail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 10px;
}

.img-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 200px;
}

.image {
    width: 100%;
    height: 200px;
    background-color: #e0e0e0;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.sub {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    text-align: center;
}

/* This is the third box */
.third {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    align-items: center;
}

#quote {
    padding-top: 20px;
    padding-bottom: 5px;
    width: 100%;
    max-width: 650px;
    font-size: 22px;
    text-align: center;
    flex: 1 1 auto;
}

#writer {
    padding: 10px;
    width: 100%;
    max-width: 650px;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

/* This is the fourth box */
.fourth {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    background-color: #f9faf8;
    align-items: center;
}

.content {
    max-width: 1080px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #3882f6;
    padding: 20px;
    border-radius: 10px;
    flex-wrap: wrap;
    margin: 25px;
    text-align: center;
}

.text {
    color: #f9faf8;
    margin: 25px;
    max-width: 500px;
    width: 100%;
}

.button {
    border: 2px solid #f9faf8;
    border-radius: 10px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    color: #f9faf8;
    margin: 25px;
}

/* This is the footer box */
.footer {
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
    background-color: #1f2937;
    color: #f9faf8
}